body {
    margin: 0;
    padding: 0;
  }
  .search-box {
    padding: 13px; 
    position: absolute;
    top: 3%;
    left: 22%;
    height: 10px;
    background-color: #fff;
    border: 1px solid #5160e3e4;
    border-radius: 30px;
    width: 500px; /* 수정: 검색창 초기 너비 */
  }
  .search-btn {
    text-decoration: none;
    float: right;
    width: 30px;
    height: 10px;
    background-color: #fff;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5160e3e4;
  }
  .search-txt {
    display: flex;
    padding: 0;
    width: 220px; /* 수정: 검색창 텍스트 입력 부분 너비 */
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    line-height: 20px;
  }
  